.grid {
  --grid-black-layer-url: url('./board-layer-black-small.svg');
  --grid-white-layer-url: url('./board-layer-white-small.svg');
  --grid-layers-width: 20.9375rem;
  --grid-black-layer-height: 20rem;
  --grid-white-layer-height: 19.375rem;
  --grid-gap: 0.375rem;
  --counter-width: 2.5625rem;
  --counter-height: 2.875rem;
  position: relative;
  display: grid;
  grid-template-rows: repeat(6, var(--counter-width));
  grid-template-columns: repeat(7, var(--counter-width));
  gap: var(--grid-gap);
  padding-inline: var(--grid-gap);
  padding-block: var(--grid-gap)
    calc(var(--grid-black-layer-height) - 6 * (var(--counter-width) + var(--grid-gap)));
}
.grid::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: var(--grid-layers-width);
  height: var(--grid-black-layer-height);
  background-image: var(--grid-black-layer-url);
}
.grid::after {
  content: '';
  position: absolute;
  width: var(--grid-layers-width);
  height: var(--grid-white-layer-height);
  background-image: var(--grid-white-layer-url);
}

.cell {
  --counter-red-url: url('./counter-red-small.svg');
  --counter-yellow-url: url('./counter-yellow-small.svg');
  width: var(--counter-width);
  height: var(--counter-height);
}
.cell[data-content='R'] {
  background-image: var(--counter-red-url);
}
.cell[data-content='Y'] {
  background-image: var(--counter-yellow-url);
}

.cell.dropping {
  animation: drop var(--drop-duration) ease-in;
}
@keyframes drop {
  0% {
    transform: translateY(calc(-1 * var(--drop-offset) * (var(--counter-width) + var(--grid-gap))));
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(calc(-1 * var(--grid-gap)));
  }
  100% {
    transform: translateY(0);
  }
}

.columns {
  position: absolute;
  z-index: 2;
  display: grid;
  grid-template-rows: calc(6 * var(--counter-width) + 7 * var(--grid-gap));
  grid-template-columns:
    calc(var(--counter-width) + 1.5 * var(--grid-gap))
    repeat(5, calc(var(--counter-width) + var(--grid-gap)))
    calc(var(--counter-width) + 1.5 * var(--grid-gap));
  cursor: pointer;
}

.marker {
  display: none;
}

@media screen and (min-width: 40rem) and (min-height: 37.5rem) {
  .grid {
    --grid-black-layer-url: url('./board-layer-black-large.svg');
    --grid-white-layer-url: url('./board-layer-white-large.svg');
    --grid-layers-width: 39.5rem;
    --grid-black-layer-height: 37.125rem;
    --grid-white-layer-height: 36.5rem;
    --grid-gap: 1.125rem;
    --counter-width: 4.375rem;
    --counter-height: 4.6875rem;
  }
  .cell {
    --counter-red-url: url('./counter-red-large.svg');
    --counter-yellow-url: url('./counter-yellow-large.svg');
  }
}

@media (pointer: fine) {
  .grid {
    --marker-width: 2.375rem;
    --marker-height: 2.25rem;
    margin-top: var(--marker-height);
  }

  .marker {
    display: block;
    position: absolute;
    top: calc(-1 * var(--marker-height));
    left: calc(
      var(--grid-gap) + 0.5 * var(--counter-width) - 0.5 * var(--marker-width) +
        (var(--counter-width) + var(--grid-gap)) * (var(--marker-column) - 1)
    );
    width: var(--marker-width);
    height: var(--marker-height);
  }
  .marker[data-color='R'] {
    background-image: url('./marker-red.svg');
  }
  .marker[data-color='Y'] {
    background-image: url('./marker-yellow.svg');
  }
}
