.layout {
  --board-zone-width: 22rem;
  --timer-top-offset: -1.75rem;
  --score-inner-margin-inline: 0.5rem;
  min-height: 100%;
  display: grid;
  grid-template-areas:
    '. header header .'
    '. scoreleft scoreright .'
    '. boardmain boardmain .'
    'boardbottom boardbottom boardbottom boardbottom';
  grid-template-columns: auto repeat(2, calc(var(--board-zone-width) / 2)) auto;
  grid-template-rows: 10% 18% auto 1fr;
  padding-top: 1rem;
}
.header {
  grid-area: header;
  align-self: end;
  margin: 1rem;
}
.scoreleft {
  grid-area: scoreleft;
  justify-self: end;
  align-self: center;
  margin-left: 1rem;
  margin-right: var(--score-inner-margin-inline);
}
.scoreright {
  grid-area: scoreright;
  justify-self: start;
  align-self: center;
  margin-left: var(--score-inner-margin-inline);
  margin-right: 1rem;
}
.boardmain {
  grid-area: boardmain;
  justify-self: center;
  align-self: end;
  margin-inline: 1rem;
}
.boardbottom {
  grid-area: boardbottom;
  margin-top: var(--timer-top-offset);
}

@media screen and (min-width: 40rem) and (min-height: 37.5rem) {
  .layout {
    --board-zone-width: 40rem;
    --timer-top-offset: -3.25rem;
    --score-inner-margin-inline: 1.3125rem;
  }
}

@media screen and (min-width: 64rem) and (min-height: 37.5rem) {
  .layout {
    --score-inner-margin-inline: 3.75rem;
    display: grid;
    grid-template-areas:
      '. header .'
      'scoreleft boardmain scoreright'
      'boardbottom boardbottom boardbottom';
    grid-template-columns: 1fr var(--board-zone-width) 1fr;
    grid-template-rows: 10% auto 1fr;
  }
}
