.content {
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  justify-content: center;
  font-size: 0.5rem;
}
.footer a {
  text-decoration: none;
  color: var(--color-yellow);
}
.footer a:hover {
  color: var(--color-red);
}
