.outer {
  min-height: 100%;
  display: grid;
  place-items: center;
}

.container {
  position: relative;
  width: min(30rem, calc(100vw - 2.5rem));
  margin-block: 1.25rem 3.25rem;
  padding-inline: clamp(1.5rem, calc(2.54vw + 0.9rem), 2.125rem);
  padding-block: 1.875rem 3rem;
  border-radius: 2.5rem;
  border: 0.1875rem solid var(--color-black);
  box-shadow: 0 0.625rem 0 var(--color-black);
  background-color: var(--color-white);
}

.mainheading {
  composes: heading-l from global;
  text-transform: uppercase;
  text-align: center;
}

.subheading {
  composes: heading-s from global;
  margin-block: 1.875rem 1rem;
  text-transform: uppercase;
  color: var(--color-purple);
}

.orderedlist {
  --item-margin-left: 1.5rem;
  list-style-type: none;
}
.orderedlist li {
  position: relative;
  margin-left: var(--item-margin-left);
  margin-block: 0.625rem;
}
.orderedlist li::before {
  content: counter(list-item);
  position: absolute;
  left: calc(-1 * var(--item-margin-left));
  font-weight: 700; /* heading-s */
}

.button {
  --border-color: var(--color-black);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 4rem;
  height: 4rem;
  border-radius: 100vmax;
  border: 0.1875rem solid var(--border-color);
  box-shadow: 0 0.3125rem 0 var(--border-color);
  background-color: var(--color-red);
}
.button:hover {
  --border-color: var(--color-dark-purple);
}

.button img {
  display: inline-block;
  width: 1.875rem;
  height: 1.5rem;
}
